<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Rails Starter Application</title>
    <%= render 'application/rails_default' %>
    <%= render 'application/shim' %>
  </head>
  <body>
    <%= render 'application/header' %>
    <div class="container">
      <% if flash %>
        <%= render partial: "shared/flash", locals: { flash: flash } %>
      <% end %>

      <%= yield %>
      <%= render 'application/footer' %>
    </div>
  </body>
</html>
